{% extends 'base.html' %}
{% block title %}
error
{% endblock %}
{% block navbar %}
    {% include 'navbar.html' %}

{% endblock %}
{% block content %}
        <div class="limiter">
    </div>
    <div class="container-login100">
		<div class="notfound">
			<div class="notfound-404">
				<h1 class="red">404</h1>
			</div>
			<h2 class="red">Oops! Url Not Found</h2>
            <form class="form-inline my-2 my-lg-0" method="post">
                {% csrf_token %}
              <input class="form-control mr-sm-2 move" type="search" placeholder="Try other URL" name="url">
              <select name="type" class="custom-select">
                    {% for option in form.type %}
                        {% if option is not '' %}
                        <option>{{ option }}</option>
                        {% endif %}
                    {% endfor %}
              </select>
              <button class="btn my-2 my-sm-0 btn-primary" type="submit">Search</button>
            </form>

            <a href={% url 'home' %}><h3 class="red">Back To Homepage</h3></a>
		</div>
	</div>
{% endblock %}