{% extends 'base.html' %}
{% block title %}
error
{% endblock %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block content %}
    <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Oops! Url Not Found</h2>
            <form class="form-inline my-2 my-lg-0" method="post">
                {% csrf_token %}
              <input class="form-control mr-sm-2 move" type="search" placeholder="Try other Url" name="url">
              <select name="type" class="custom-select">
                    {% for option in form.type %}
                        {% if option is not '' %}
                        <option>{{ option }}</option>
                        {% endif %}
                    {% endfor %}
              </select>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

			<a href={% url 'home' %}>Back To Homepage</a>
		</div>
	</div>
{% endblock %}