{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

<div class="limiter">
</div>
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<span class="login100-form-title p-b-49">
					A request have been receive to change the password of your account. Check you email.
				</span>
                <div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" onclick="window.location.href='{% url 'login' %}'">
								<input class="button-login" type="submit" name="Log" value="Login">
							</button>

						</div>
				</div>

            </div>
        </div>

{% endblock %}