{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

{% if validlink %}

<h1>Nueva contrase;a</h1>

<form method="post">
    {% csrf_token %}
    {{ form.new.password1.errors }}
    <label for="id_new_password1">New password</label>
    {{ form.new_password1 }}

    {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirm password</label>
    {{ form.new_password2 }}
    <input type="submit" value="Cambiar mi contrase;a">
</form>
{% else %}

    <h1>Enlace invalido</h1>

{% endif %}
{% endblock %}
