<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-home"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
        <a class="nav-link" href="{% url 'aboutus' %}">About us <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" target="_blank" href="https://github.com/zamu5/Whale-and-Jaguar">Code<span class="sr-only">(current)</span></a>
      </li>
        <li>
            <form class="form-inline my-2 my-lg-0" method="post">
                {% csrf_token %}
              <input class="form-control mr-sm-2 space" type="search" placeholder="URL to analyze" name="url">
              <select name="type" class="custom-select">
                    <option selected disabled>Select option...</option>
                    {% for option in form.type %}
                        <option>{{ option }}</option>
                    {% endfor %}
              </select>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Analyze</button>
            </form>
        </li>
    </ul>
    <ul class="navbar-nav ">
        <li class="nav-item dropdown">

          <a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a>

      </li>
    </ul>


  </div>
</nav>